# List of untracked files to ignore
Report 1 - Twitter Activity Per Author.html
Report 2 - Twitter Activity Per Mention.html
Report 3 - Twitter Activity Per Hashtag.html
Report 4 - Twitter Activity Sorted.html
Report 5 - Twitter Activity by Sentiment.html
